/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%; } }

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%; } }

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 20%; } }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 70%;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

body {
  font-family: Avenir, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  margin: 0; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("/img/keyboard-bg.jpeg");
  background-size: cover;
  height: 100vh;
  z-index: 0; }

.heading-primary {
  margin-top: 0;
  text-align: center;
  padding: 60px;
  color: white; }
  .heading-primary--main {
    display: block;
    margin-top: 10rem;
    font-size: 4rem;
    text-decoration: underline; }
  .heading-primary--sub {
    display: block;
    text-transform: lowercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 2rem;
    font-style: italic; }

.down-arrow {
  position: relative;
  display: block;
  text-align: center; }
  .down-arrow--link {
    text-decoration: none;
    color: white; }
    .down-arrow--link:hover {
      color: #eae2b7; }

#down-arrow--icon {
  transform: scale(2); }

.social {
  text-align: center;
  margin-top: 20px; }
  .social--logo {
    width: 50px;
    height: auto;
    padding: 0.5rem;
    filter: invert(100%); }
    .social--logo:hover {
      filter: invert(65%) sepia(71%) saturate(6294%) hue-rotate(164deg) brightness(95%) contrast(88%); }

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background-color: #003049; }

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  color: white;
  border-bottom: 0.2rem solid white; }

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem; } }

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem; }

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem; }
  .projects-grid {
    grid-template-columns: 1fr; } }

.project {
  background: #eae2b7;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  transition: background 0.3s ease-out; }
  .project:hover {
    background: #fcbf49; }

.code {
  color: #eae2b7;
  transition: color 0.3s ease-out; }

.project:hover .code {
  color: #d62828; }

.project-image {
  height: calc(85% - 7rem);
  width: 100%;
  object-fit: cover; }

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: #003049; }

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px; }

.btn-show-all {
  font-size: 2rem;
  background: floralwhite;
  transition: background 0.3s ease-out; }

.btn-show-all:hover {
  background: rgba(252, 191, 73, 0.8); }

.btn-show-all:hover > i {
  transform: translateX(2px); }

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out; }
